<!doctype html>
<html lang="en">
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>


  </head>
  <body>
    <div class="container"  ng-app="myApp" ng-controller="myCtrl">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-left">
            <a href="/" class="brand"> < Home</a>
          </div>
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>

      <div class="page-header">
        <h1 >{{title}} <small>by {{author}}</small></h1>
      </div>


      <div class="row">
        <div class="span12">
          <h2>API-Browser</h2>
        </div>
      </div>

     <div class="row controls">
            <form ng-submit="send()">
              <div class="span3"><input type="text" class="input-block-level" ng-model="findVersion" placeholder="Enter Version, e.g. 0"> </div>
              <input type="submit" class="span3 btn" value="Show API-Version" ng-disabled="!findVersion">
            </form>
      </div>

      <div class="row">
        <div class="span12">
          <h3>Current API-Version: {{apiVersion}}</h3>
        </div>
      </div>

      <div class="row">



        <div class="span3">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="op in operations">
                <td><a ng-href ng-click="setDetail(op);">{{op}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Operation details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="de in details">
                <td>{{de.url}}</td>
                <td>{{de.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">

          <div class="span12">

          </div>


        </div>

      </div>

    </div>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>

    <script>
      var app = angular.module('myApp', []);



      app.controller('myCtrl', function($scope, $http) {

          //$scope.url = 'https://masterthesis-rpi-server-andre-lehnert.c9users.io:8080';
          $scope.apiVersion = '0';
          $scope.details;

          $scope.findVersion =  $scope.apiVersion;

          $http({method: 'GET' , url: 'api/v'+  $scope.apiVersion}).
              success(function(data, status) {
                console.log(data);
                $scope.title = data.description;
                $scope.apiVersion = data.version;
                $scope.author = data.author;
                $scope.operations = data.api;
              }).
              error(function(data, status) {
                console.log(data || "Request failed");
            });


            $scope.setDetail = function setDetail(uri) {


                $http({method: 'GET' , url: 'api/v' + $scope.apiVersion + uri}).
                    success(function(data, status) {
                      console.log(data);
                      $scope.details = data.urls;
                    }).
                    error(function(data, status) {
                      console.log(data || "Request failed");
                      $scope.details = [];
                  });

            };


            $scope.send = function send() {

                 $http({method: 'GET' , url: 'api/v'+  $scope.findVersion}).
                    success(function(data, status) {
                      console.log(data);
                      $scope.title = data.description;
                      $scope.apiVersion = data.version;
                      $scope.author = data.author;
                      $scope.operations = data.api;
                    }).
                    error(function(data, status) {
                      console.log(data || "Request failed");
                      $scope.findVersion = '';
                      $scope.apiVersion = 'not found';
                      $scope.operations = '';
                      $scope.details = [];
                  });

            };

          //$.getJSON( $scope.url +'/'+  $scope.apiVersion, function (data) {

            //console.log(data.description);
            //$scope.title = "Hallo";

          //});


          $scope.firstName = "John";
          $scope.lastName = "Doe";
      });

    </script>
  </body>
</html>
